
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;0,900;1,300;1,600;1,800&family=Montserrat:wght@400;700;900&display=swap');

H1, h2, h3, h4, h5{
    font-weight: 700;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 12px;
  }
p.BodyM{
font-weight: 500;
font-size: 20px;
}
p.BodyL{
    font-weight: 300;
    font-size: 20px;
}
p.BodySmall{
    font-weight: 500;
    font-size: 12px;
}
p.CaptionM{
    font-weight: 500;
    font-size: 16px;
}
p.CaptionL{
    font-weight: 300;
    font-size: 16px;
}
 