#app {
  width: 100%;
}

body {
  flex-direction: column;
  width: 70%;
  
  
}
header{

nav{

  display: flex;
  justify-content: space-around;
  align-items: center;
  a{
    color: gray;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  }
}
  }